<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Stanza Editor"
            extensions="stanza"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="stanza.editors.StanzaEditor"
            id="stanza.editors.StanzaEditor">
      </editor>
   </extension>

</plugin>
